1). Concatenate two lists index-wise


teams = ["India", "England", "NZ", "Aus"]

captains = ["Kohli","Root","Williaamson", "Smith"]

In [2]:
teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli","Root","Williaamson", "Smith"]
anser1=tuple(zip(teams,captains))
anser2=list(zip(teams,captains))
anser3=dict(zip(teams,captains))
print(anser1)
print(anser2)
print(anser3)

(('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith'))
[('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]
{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson', 'Aus': 'Smith'}

In [ ]:
teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli","Root","Williaamson", "Smith"]

list3=[i+' '+j for i,j in zip(teams,captains)]
print(list3)

['India Kohli', 'England Root', 'NZ Williaamson', 'Aus Smith']

In [6]:


list1=[1,2,3,4,5,6,7]
list2 = [49, 36, 25, 16, 9, 4, 1]

print(list1)

#multification
answer = [n*n for n in list1 ]
#revers order
Answer2 = list2[::-1]
print(Answer2)


for x,y in zip(list1,list2):
  print(x,y)

[1, 2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36, 49]
1 49
2 36
3 25
4 16
5 9
6 4
7 1

In [7]:
list1 =[10,20,30,40,50,60]

answer = [n*10 for n in list1]
print(answer)

[100, 200, 300, 400, 500, 600]

2) Given a list of books, their prices, and the quantities that you purchased, print out the total
amount spent on each item.

books= ["textbooks", "exercise books", "story book", "drawing books"]

prices = [100,60,90,70]

quantities = [3,2,1,4]

In [ ]:
books= ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantities = [3,2,1,4]


list4 = ['You bought ' + str(a) + ' ' + b + ' for ' + '$'+str(c*a) + ' each.' for a, b, c in zip(quantities, books, prices)]
print(list4)

['You bought 3 textbooks for $300 each.', 'You bought 2 exercise books for $120 each.', 'You bought 1 story book for $90 each.', 'You bought 4 drawing books for $280 each.']

3) Given a Python list. Add 10 to each item of the list 1.

List 1 = [2,4,6,8,10]

Answer: [12, 14, 16, 18, 20]

In [ ]:
List_1 = [2,4,6,8,10]

List_2 = [a+10 for  a in List_1]
print(List_2)

[12, 14, 16, 18, 20]

list1 = [10, 20, 30, 40]

list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]


Answer:

10 Grapes

20 Oranges

30 Mangoes

40 Apples

In [ ]:
list1 = [10, 20, 30, 40]

list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]

for x,y in zip(list1,list2):
  print(x,y)

10 Apples
20 Mangoes
30 Oranges
40 Grapes

5) Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look
like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

 sub_list = ["h", "i", "j"]

Answer1:

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n
']

Answer2:

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm',
'n']

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

#list1[2][1][2].append(sub_list)
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']


6) Given a Python list, write a program to remove all occurrences of item 15.

List1= [10,15,20,15,32,54,15]

Answer = [10,20,32,54]

In [9]:
List1= [10,15,20,15,32,54,15]

for x in list1:
  if x==15:
    list1.remove(x)

print(list1)

[10, 20, 30, 40, 50, 60]

7). Below are the two lists convert it into the dictionary

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

Answer = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [10]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
Answer = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Answer=dict(zip(keys,values))
print(Answer)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

7). Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Answer = {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [13]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3={**dict1,**dict2}
print(dict3)

x = dict1 | dict2
print(x)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

8). Rename key city to location in the following dictionary

sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}

Answer = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "location": "New york"
}

In [14]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
sampleDict['location']= sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

9). Delete set of keys from Python Dictionary

sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"


}
keysToRemove = ["name", "salary"]

Answer = {'city': 'New york', 'age': 25}

In [18]:

sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"

}
keysToRemove = ["name", "salary"]
Answer = {'city': 'New york', 'age': 25}


# for i in keysToRemove:
#   sampleDict.pop(i)
# print(sampleDict)


for i in keysToRemove:
  del sampleDict[i]
print(sampleDict)

{'age': 25, 'city': 'New york'}

10). Create a new dictionary by extracting the following keys from a given dictionary
Given Dictionary

sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"

}

Keys to extract
keys = ["name", "salary"]
Answer = {'name': 'Kelly', 'salary': 8000}

In [22]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"

}

keys = ["name", "salary"]
Answer = {'name': 'Kelly', 'salary': 8000}

newDict=dict()
for k in sampleDict.keys() and keys:
  newDict[k]=sampleDict[k]

print(newDict)

{'name': 'Kelly', 'salary': 8000}

11). Given a list iterate it and display numbers which are divisible by 5 and if you find number
greater than 150 stop the loop iteration

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
Answer =
15
55
75
150

In [27]:

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
  if i > 150:
    break

  if i % 5 == 0:
    print(i)

15
55
75
150

12). Generate a Python list of all the even numbers between 4 to 30

Answer = [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [29]:
list1=[]

for i in range(4,30,2):
  list1.append(i)
print(list1)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

13). Count all lower case, upper case, digits, and special symbols from a given string

input_str = "P@#yn26at^&i5ve"

Total counts of chars, digits,and symbols

Chars = 8

Digits = 3

Symbol = 4

In [31]:

input_str = "P@#yn26at^&i5ve"

Chars = 0

Digits = 0

Symbol = 0

keyboard_symbols = [
    "!", "@", "#", "$", "%", "^", "&", "*", "(", ")", "_", "+", "-", "=", "{", "}",
    "[", "]", "|", "\\", ":", ";", "\"", "'", "<", ">", ",", ".", "/", "?"
]

keyboard_digits = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]


keyboard_characters = [
    "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z",
    "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]

for i in input_str:
  for x in keyboard_symbols:
    if x==i:
      Symbol=Symbol+1
  for y in keyboard_digits:
    if y==i:
      Digits=Digits+1
  for z in keyboard_characters:
    if z==i:
      Chars=Chars+1


print(Digits)

print(Symbol)

print(Chars)

3
4
8

In [35]:
from string import digits
input_str = "P@#yn26at^&i5ve"
Chars = 0
Digits = 0
Symbol = 0

for char in input_str:
  if char.islower() or char.isupper():
    Chars +=1

  elif char.isdigit():
      Digits += 1
  else:

    Symbol +=1

print(Digits)

print(Symbol)

print(Chars)

3
4
8

14). Given an input string, count occurrences of all characters within a string

count("pynativepynvepynative") = {'p': 3, 'y': 3, 'n': 3, 'a': 2, 't': 2, 'i': 2,
'v': 3, 'e': 3}

In [36]:
input_str="pynativepynvepynative"
newDict=dict()
for char in input_str:
  count = input_str.count(char)
  newDict[char]=count

print(newDict)

{'p': 3, 'y': 3, 'n': 3, 'a': 2, 't': 2, 'i': 2, 'v': 3, 'e': 3}

15). Roll dice in such a way that every time you get the same number
Dice has 6 numbers (from 1 to 6). Roll dice in such a way that every time you must get the same output number. do
this 5 times

In [37]:
import random

dice=[1,2,3,4,5,6]
for i in range(5):
  print(random.choice(dice))

4
5
5
3
2